{% extends 'base.html.twig' %}

{% block body %}

	<form class="form-horizontal" method="post" >
	<fieldset>

	<!-- Form Name -->
	<legend>Recherche de CD</legend>

	<div class="row col-lg-12">
		<div class="col-xs-6">
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="cd">Par Numéro</label>  
			  <div class="col-md-4">
			  <input id="cd" name="num" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.num}}"{% endif %} >
			    
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="nom">Par Nom</label>  
			  <div class="col-md-4">
			  <input id="nom" name="nom" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.nom}}"{% endif %} >
			    
			  </div>
			</div>
		</div>

	</div>

	<button name="search" type="submit" class="btn btn-block btn-info">Chercher <span class="glyphicon glyphicon-eye-open"></span></button>
	</fieldset>
	</form>

	{% if recherche %}
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Labels trouvés</div>
					<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Nom</th>
								<th>Action</th>
								<th>@Mail</th>
							</tr>
						</thead>
						{% for label in recherche %}
							<tr>
								<td>{{label.getLabel}}</td>
								<td>{{label.getLibelle}}</td>
								<td><a href="{{ path('showLabel',{'id':label.getLabel}) }}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
								<td>{{label.getEmail}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	{% endif %}
</div>

{% endblock %}
