{% block title %}Recherche de Label{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-sm-8">
		<form class="form-horizontal" method="post" >
		<fieldset>

		<!-- Form Name -->
		<legend>Recherche de Label</legend>

		<div class="row col-lg-12">
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="label">Par Numéro</label>  
				  <div class="col-md-8">
				  <input id="label" name="num" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.num}}"{% endif %} >
				    
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="nom">Par Nom</label>  
				  <div class="col-md-8">
				  <input id="nom" name="nom" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.nom}}"{% endif %} >
				    
				  </div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
			<button name="search" type="submit" class="btn btn-block btn-info btn-lg">
				Chercher <span class="glyphicon glyphicon-eye-open"></span>
			</button>
		</fieldset>
		</form>

		{% if is_granted('ROLE_PROGRA') %}
			<a href="{{ path('createLabel') }}" class="btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-plus"></span> Créer un Label</a>
		{% endif %}

	</div>
</div>


	{% if recherche %}
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Labels trouvés</div>
					<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Action</th>
								<th>@Mail</th>
							</tr>
						</thead>
						{% for label in recherche %}
							<tr id="{{label.label}}" class="labelRow">
								<td class="libelle">{{label.getLibelle}}</td>
								<td>
									<a href="{{ path('showLabel',{'id':label.getLabel}) }}"><span title="Voir" class="glyphicon glyphicon-eye-open"></span></a>
									{% if is_granted('ROLE_PROGRA') %}
										<a href="{{ path('editLabel',{'id':label.getLabel}) }}"><span title="Editer" class="glyphicon glyphicon-edit"></span></a>
										<a href="{{path('deleteLabel',{'id':label.label})}}" class="deleteLabel"><span title="Supprimer" class="glyphicon glyphicon-remove"></span></a>
									{% endif %}
								</td>
								<td>{{label.getEmail}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	{% endif %}
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	$('.labelRow').find('a').click(function(e) {
            e.stopPropagation();
	    });

    $('.labelRow').click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        var labelId = $(this).closest('.labelRow').attr('id');
        var route = Routing.generate('showLabel', {'id': labelId});
        window.location.replace(route);
    });

    $('.deleteLabel').click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        var container = $(this).closest('.labelRow');
        var libelle = container.children('.libelle').text();
        if (confirm("Supprimer le Label "+libelle+" ?" )) {
            var labelId = container.attr('id');
            var route = Routing.generate('deleteLabel', {'id': labelId});
            window.location.replace(route);
        }
    });

</script>
{% endblock %}
