{% block title %}Fiche du Label {{label.getLibelle}}{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
	<h1>
		Fiche Label 
		<small>
			{{label.getLibelle}} (#{{label.getLabel}})
			{% if is_granted('ROLE_PROGRA') %}
	            <a href="{{ path('editLabel',{'id':label.getLabel}) }}" class="label label-info">
					<span class="glyphicon glyphicon-edit"></span> Editer
				</a>
				<a onclick="confirmDelLabel('{{label.getLibelle}}',{{label.getLabel}})" class="label label-danger">
					<span class="glyphicon glyphicon-remove"></span> Supprimer
				</a>
			{% endif %}
		</small>
	</h1>

<div class="row">
	<div class="col-md-5">
		<div class="table-responsive">
			<table class="table table-striped">
				{% if label.email %}
				<tr>
					<th>Email</th>
					<td>{{label.email}}</td>
				</tr>
				{% endif %}
				<tr>
					<th>Mail Retour</th>
					<td>{{label.getMailprogra}}</td>
				<tr>
				{% if label.contact1 %}
				<tr>
					<th>Contacts</th>
					<td>{{label.contact1}}</td>
				<tr>
				{% endif %}
				{% if label.info %}
				<tr>
					<th>Informations</th>
					<td>{{label.info}}</td>
				<tr>
				{% endif %}
				<tr>
					<th>Site Web</th>
					<td>{% if label.getSiteweb %}<a href="{{label.getSiteweb}}" target="_blank">{{label.getSiteweb}}</a>{% else %}Non renseigné{% endif %}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-7">
		<div class="table-responsive">
			<table class="table table-striped">
				{% if label.telephone %}
				<tr>
					<th>Téléphone</th>
					<td>{{label.telephone}}</td>
				</tr>
				{% endif %}
				{% if label.adresse %}
				<tr>
					<th>Adresse</th>
					<td>{{label.adresse}}</td>
				</tr>
				{% endif %}
				{% if label.adresse2 %}
				<tr>
					<th>Adresse 2</th>
					<td>{{label.adresse2}}</td>
				</tr>
				{% endif %}
				{% if label.cp %}
				<tr>
					<th>Code Postal</th>
					<td>{{label.cp}}</td>
				</tr>
				{% endif %}
				{% if label.ville %}
				<tr>
					<th>Ville</th>
					<td>{{label.ville}}</td>
				</tr>
				{% endif %}
			</table>
		</div>
	</div>
</div>

	{% if label.getDisques.toArray %}
		<div class="panel panel-primary">
			<div class="panel-heading">Disques :</div>
			<table class="table table-striped">
				<theading>
					<tr>
						<th>#</th>
						<th></th>
						<th>Titre</th>
						<th>Artiste</th>
						<th>Date</th>
					</tr>
				</theading>
				{% for cd in label.getDisques.toArray %}
					<tr>
						<td>{{cd.getCd}}</td>
						<td>
							{% if cd.getDsaisie|date("U") > "-3 months"|date("U") %}<div class="label label-success">Nouveauté</div>{% endif %}
						</td>
						<td><a href="{{ path('showCd',{'id':cd.getCd}) }}">{{cd.getTitre}}</a></td>
						<td>{% if cd.getArtiste.getArtiste %}<a href="{{ path('showArtiste',{'id':cd.getArtiste.getArtiste}) }}">{{cd.getArtiste.getLibelle}}</a>{% endif %}</td>
						<td>{{cd.getAnnee}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% endif %}

{% endblock %}