{% extends 'base.html.twig' %}

{% block body %}

	<fieldset>
		<legend>Création de Cd</legend>
		{% form_theme form 'bootstrap_3_layout.html.twig' %}
		{{form_start(form)}}
			<div class="row">
				{{form_errors(form)}}

				<div class="col-md-5">
					<input id="artiste_hidden" style="display:none" value=""></input>
					{{form_row(form.artiste, { 'id': 'artiste' })}}
					{{form_row(form.titre)}}
					<div class="row">
						<div class="col-xs-9" style="padding:0px">
							{{form_row(form.dsortie)}}
						</div>
						<div class="col-xs-3" style="padding:0px">
							{{form_row(form.annee)}}
						</div>
					</div>
					<input id="label_hidden" style="display:none" value=""></input>
					{{form_row(form.label, { 'id': 'label' })}}
					<input id="maison_hidden" style="display:none" value=""></input>
					{{form_row(form.maison, { 'id': 'maison' })}}
					<input id="distrib_hidden" style="display:none" value=""></input>
					{{form_row(form.distrib, { 'id': 'distrib' })}}
					{{form_row(form.refLabel)}}
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-6">	
							{{form_row(form.dvd)}}
							{{form_row(form.etiquette)}}
							{{form_row(form.paulo)}}
							{{form_row(form.langue)}}
							{{form_row(form.support)}}
							{{form_row(form.type)}}
						</div>
						<div class="col-md-6">	
							{{form_row(form.genre)}}
							{{form_row(form.styles)}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-3">
							{{form_row(form.nbPiste, { 'id': 'nbPiste' })}}
						</div>
						<div class="col-md-3">
							{{form_row(form.various, { 'id': 'various' })}}
						</div>
					</div>
					<div class="row">
						<div class="table-responsive">
							<table class="table table-striped" id="pistes">
								<thead>
									<tr>
										<th>#</th>
										<th>Titre de la piste</th>
										<th>Artiste</th>
										<th>Fr</th>
										<th>Anim</th>
										<th>Paulo</th>
										<th>Star</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					{{form_row(form.userProgra)}}
					{{form_row(form.rotation)}}
					{{form_row(form.comment)}}
				</div>
			</div>

		{{form_end(form)}}
	</fieldset>


{% endblock %}

{% block javascripts %}
<script>
  $(function() {
  	function log( input, message ) {
  		$("#"+input).text(message.libelle);
      $( "#"+input+"_hidden" ).val( message.num );
    }
 	var artisteCompleteParameters = {
      source: "{{path('autocompleteArtiste',{'like':1})}}",
      minLength: 2,
      delay: 300,
      select: function( event, ui ) {
        $(this).text(ui.item.libelle);
      }
    };
    $( "#artiste" ).autocomplete(artisteCompleteParameters);

    $( "#label" ).autocomplete({
      source: "{{path('autocompleteLabel',{'like':1})}}",
      minLength: 2,
      delay: 300,
      select: function( event, ui ) {
        log('label',ui.item);
      }
    });

    $( "#maison" ).autocomplete({
      source: "{{path('autocompleteLabel',{'like':1})}}",
      minLength: 2,
      delay: 300,
      select: function( event, ui ) {
        log('maison',ui.item);
      }
    });

    $( "#distrib" ).autocomplete({
      source: "{{path('autocompleteLabel',{'like':1})}}",
      minLength: 2,
      delay: 300,
      select: function( event, ui ) {
        log('distrib',ui.item);
      }
    });

    /**
		La fonction suivante vérifie que l'artiste existe ou non
    */
    $("#artiste").blur(function() {
    	if($("#artiste").val() != "") {
			$.ajax({
			  url: "{{path('autocompleteArtiste',{'like':0})}}",
			  type: 'GET',
			  data: 'term='+$("#artiste").val()
			}).done(function(tab_exact){
				if ( tab_exact.length == 1) { 
					$("#artiste_hidden").val(tab_exact[0].num);
				} else {
		  			if(confirm("Cet Artiste semble ne pas exister... Le créer ?")) {
		  				var route = "{{path('createArtiste',{'libelle': "value" })}}";
		  				window.open(route.replace("value", $('#artiste').val()),"Pop-up","toolbar=0,location=0,directories=0,menuBar=0,resizable=0,scrollbars=yes,width=470,height=400,left=75,top=60");
			  		} else {
			  			$("#artiste_hidden").val("");
			  		};
				};

			});
    	}
  	});

  	function labelsVerif (htmlItem,hiddenItem) {
  		if(htmlItem.val() != "") {
			$.ajax({
			  url: "{{path('autocompleteLabel',{'like':0})}}",
			  type: 'GET',
			  data: 'term='+htmlItem.val()
			}).done(function(tab_exact){
				if ( tab_exact.length == 1) { 
					hiddenItem.val(tab_exact[0].num);
				} else {
		  			if(confirm("Le Label "+ htmlItem.val() +" semble ne pas exister... Le créer ?")) {
		  				var route = "{{path('createLabel',{'libelle': "value" })}}";
		  				window.open(route.replace("value", htmlItem.val()),"Pop-up","toolbar=0,location=0,directories=0,menuBar=0,resizable=0,scrollbars=yes,width=470,height=400,left=75,top=60");
			  		} else {
			  			hiddenItem.val("");
			  		};
				};
			});
  		}
  	}

  	$("#label").blur(function() { labelsVerif($("#label"),$("#label_hidden")) });
  	$("#maison").blur(function() {labelsVerif($("#maison"),$("#maison_hidden"))});
  	$("#distrib").blur(function() {labelsVerif($("#distrib"),$("#distrib_hidden"))});

  	$("#nbPiste").change(function() {
  		var nbPiste = $("#nbPiste").val();
  		var table = $("#pistes > tbody");
  		var template = "<tr id='track_NNN'><td>NNN</td><td><input name='titre_NNN' value='Track NNN'></td><td><input id='artiste_NNN' name='artiste_NNN'></td><td><input type='checkbox' name='fr_NNN'></td><td><input type='checkbox' name='anim_NNN'></td><td><input type='checkbox' name='paulo_NNN'></td><td><input type='checkbox' name='star_NNN'></td></tr>";
  		table.empty();
  		for (var i = 1; i <= nbPiste; i++) {
  			table.append(template.replace(/NNN/g, i));
  			$( "#artiste_NNN".replace(/NNN/g, i) ).autocomplete(artisteCompleteParameters);
  		};
  		verifVarious();
  	});

  	function verifVarious () {
  		for(var i = 1; i<= $("#nbPiste").val(); i++) {
			if($("#various").prop('checked')) {
				$("#artiste_"+i).show();
	  		} else {
	  			$("#artiste_"+i).hide();
	  		}
		}
  	}

  	$("#various").click(function() {
  		verifVarious();
  	});

  });


	{% if app.user %}
		test = {{app.user.getUser|json_encode|raw}}
		$("#appbundle_cd_userProgra").val(test);

	{% endif %}

</script>
{% endblock %}