{% block title %}Création d'une fiche CD{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

	<fieldset>
		<legend>Création de Cd</legend>
		{% form_theme form 'bootstrap_3_layout.html.twig' %}
		{{form_start(form,{'enctype':'multipart/form-data'})}}
			<div class="row">
				{{form_errors(form)}}

				<div class="col-md-5">
					<input id="artiste_hidden" style="display:none" value=""></input>
					{{form_row(form.artiste, { 'id': 'artiste' })}}
					{{form_row(form.titre)}}
					<div class="row">
						<div class="col-xs-9" style="padding:0px">
							{{form_row(form.dsortie)}}
						</div>
						<div class="col-xs-3" style="padding:0px">
							{{form_row(form.annee)}}
						</div>
					</div>
					<input id="label_hidden" style="display:none" value=""></input>
					{{form_row(form.label, { 'id': 'label' })}}
					<input id="maison_hidden" style="display:none" value=""></input>
					{{form_row(form.maison, { 'id': 'maison' })}}
					<input id="distrib_hidden" style="display:none" value=""></input>
					{{form_row(form.distrib, { 'id': 'distrib' })}}
					{{form_row(form.refLabel)}}
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-6">	
							{{form_row(form.dvd)}}
							{{form_row(form.etiquette)}}
							{{form_row(form.paulo,{'label':'Rivendell'})}}
							{{form_row(form.langue)}}
							{{form_row(form.support)}}
							{{form_row(form.type)}}
							{{form_row(form.ecoute)}}
						</div>
						<div class="col-md-6">	
							{{form_row(form.genre)}}
							{{form_row(form.styles)}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-3">
							{{form_row(form.nbPiste, { 'id': 'nbPiste' })}}
						</div>
						<div class="col-md-3">
							<div class="from-group row">
								<label for="various">Various Artists</label>
								{{form_widget(form.various, { 'id': 'various' })}}
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row">
								<label for="full_fr">Toutes Fr.</label>
								<input type="checkbox" name="full_fr" id="full_fr" {% if pistes_var.full_fr %}checked{% endif %}>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="table-responsive">
							<table class="table table-striped" id="pistes">
								<thead>
									<tr>
										<th>#</th>
										<th>Titre de la piste</th>
										<th>Artiste</th>
										<th>Fr</th>
										<th>Anim</th>
										<th>Rivendell</th>
										<th>Star</th>
									</tr>
								</thead>
								<tbody>
									{% if pistes %}
										{% set id_piste = 1 %}
										{% for piste in pistes %}
											<tr id="track_{{id_piste}}">
												<td>{{id_piste}}</td>
												<td><input name='titre_{{id_piste}}' value='{{piste.titre}}'></td>
												<td><input id='artiste_{{id_piste}}' name='artiste_{{id_piste}}' value='{% if piste.artiste %}{{piste.artiste.libelle}}{% endif %}' class='artiste_autocomplete'></td>
												<td><input type='checkbox' class='fr_input' name='fr_{{id_piste}}' {% if piste.fr %}checked{% endif %}></td>
												<td><input class='check_anim' type='checkbox' name='anim_{{id_piste}}' {% if piste.anim %}checked{% endif %}></td>
												<td><input class='check_paulo' type='checkbox' name='paulo_{{id_piste}}' {% if piste.paulo %}checked{% endif %}></td>
												<td><input class='check_star' type='checkbox' name='star_{{id_piste}}' {% if piste.star %}checked{% endif %}></td>
											</tr>	
											{% set id_piste = id_piste+1 %}
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					{{form_row(form.userProgra)}}
					{{form_row(form.rotation)}}
					{{form_row(form.comment,{'label':'Commentaire Public'})}}
				</div>
			</div>

		{{form_end(form)}}
	</fieldset>


{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{asset('js/airplay.js')}}"></script>
{% endblock %}