{% block title %}Gestion des Retours Label{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
		<h1>Gestion des Retours Label</h1>
		<form class="form" method="POST" action="{{path('retourLabel')}}">
		<fieldset>
			<legend>
				<div class="col-md-6">
					Filtrage <small><label for="tout_voir">Tout voir</label> <input id="tout_voir" type="checkbox" name="tout_voir" {% if tout_voir %}checked{% endif %}></small>
				</div>
				<div class="col-md-6">
					<button class="btn btn-block btn-info">Filtrer</button>
				</div>
			</legend>
			<div class="row" id="filtrage">
				<div class="col-md-4">
					<div class="form-group col-md-12">
						<label for="datemini" class="col-md-4 control-label">Saisie depuis le : </label>
						<div class="col-md-6">
							<input class="datepicker form-control" id="datemini" name="date_mini"></input><br>
						</div>
					</div>
					<div class="form-group col-md-12">
						<label for="anneemini" class="col-md-4 control-label">Année minimum du CD : </label>
						<div class="col-md-6">
							<input id="anneemini" class="form-control" type="number" value="{{annee_mini}}" name="annee_mini">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group col-md-12">
						<label for="label_rechch" class="col-md-4 control-label">Label : </label>
						<div class="col-md-6">
							<input id="label_rechch" type="input" name="label" class="form-control" value="{{label}}">
						</div>
					</div>

					<div class="form-group col-md-12">
						<label for="label_mail" class="col-md-4 control-label">Voir seulement les labels avec un mail : </label>
						<div class="col-md-6">
							<input id="label_mail" type="checkbox" name="label_mail" class="form-control" {% if label_mail %}checked{% endif %}>
						</div>
					</div>

					<div class="form-group col-md-12">
						<label for="retour_fait" class="col-md-4 control-label">Afficher les retours effectués : </label>
						<div class="col-md-6">
							<input id="retour_fait" type="checkbox" name="retour_fait" class="form-control" {% if retour_fait %}checked{% endif %}>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		</form>
		<input type="checkbox" id="toutCocher"> Tout Sélectionner<br>
		<input type="checkbox" id="cocherNonTraites"> Selectionner les non traités

		<nav>
			<ul class="pagination">
			<li>
			  <a href="{{path('retourLabel',{'page':'1'})}}" aria-label="Previous">
			    <span aria-hidden="true">&laquo;</span>
			  </a>
			</li>
			{% for i in 1..pageMax %}
				<li {% if page == i %}class="active"{% endif %}><a href="{{path('retourLabel',{'page':i})}}">{{i}}</a></li>
			{% endfor %}
			<li>
			  <a href="{{path('retourLabel',{'page':pageMax})}}" aria-label="Next">
			    <span aria-hidden="true">&raquo;</span>
			  </a>
			</li>
			</ul>
		</nav>

		<form class="form" method="POST" action=""> <button type="submit" class="btn btn-info">Envoyer les Mails</button>

			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<th></th>
						<th>#</th>
						<th>Artiste</th>
						<th>Titre</th>
						<th>Label</th>
						<th>Mail Retour</th>
						<th>Année</th>
						<th>Sorti le</th>
						<th>Commentaire</th>
						<th>Rotation</th>
						<th>Genre</th>
						<th>Type</th>
					</thead>
					<tbody>
						{% for cd in cds %}
							<tr id="retLabel_{{cd.cd}}" {% if cd.retourLabel %}style="opacity:0.5"{% endif %}>
								<td><input type="checkbox" id="check_retour[{{cd.cd}}]" name="check_retour[{{cd.cd}}]" {% if cd.retourLabel %}class="retour"{% else %}class="retour aFaire"{% endif %}></td>
								<td>{{cd.cd}}</td>
								<td>{{cd.artiste.libelle}}</td>
								<td>{{cd.titre}}</td>
								<td>{% if cd.label %}{{cd.label.libelle}}{% endif %}</td>
								<td><input name="mail_retour[{{cd.cd}}]" value="{% if cd.retourMail %}{{cd.retourMail}}{% elseif cd.label %}{{cd.label.mailProgra}}{% endif %}"></td>
								<td>{{cd.annee}}</td>
								<td>{{cd.dsortie|date("d/m/Y")}}</td>
								<td class="infobulle">
									{{cd.retourComment| truncate(30, true, '...')}}
									<span>{{cd.retourComment}}</span>
								</td>
								<td>{% if cd.rotation %}{{cd.rotation.libelle}}{% endif %}</td>
								<td>{% if cd.genre %}{{cd.genre.libelle}}{% endif %}</td>
								<td>{% if cd.type %}{{cd.type.libelle}}{% endif %}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</form>

		<nav>
			<ul class="pagination">
			<li>
			  <a href="{{path('retourLabel',{'page':'1'})}}" aria-label="Previous">
			    <span aria-hidden="true">&laquo;</span>
			  </a>
			</li>
			{% for i in 1..pageMax %}
				<li {% if page == i %}class="active"{% endif %}><a href="{{path('retourLabel',{'page':i})}}">{{i}}</a></li>
			{% endfor %}
			<li>
			  <a href="{{path('retourLabel',{'page':pageMax})}}" aria-label="Next">
			    <span aria-hidden="true">&raquo;</span>
			  </a>
			</li>
			</ul>
		</nav>
	</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	verifTout();

	$(".datepicker").datepicker({
	    format: 'dd/mm/yyyy',
	    endDate: '-0d'
	});
	var date_mini = "{{date_mini|date('d/m/Y')}}";
	$(".datepicker").datepicker('setDate',date_mini);

	$( "#label_rechch" ).autocomplete({
      source: "{{path('autocompleteLabel',{'like':1})}}",
      minLength: 2,
      delay: 300,
      select: function( event, ui ) {
        $("#label_rechch").text(ui.item.libelle);
      },
	  create : function( event, ui ){$(".ui-helper-hidden-accessible").remove();}
    });

    $("#tout_voir").change(function(){ verifTout(); })

	function verifTout (argument) {
	    if($("#tout_voir").is(":checked")) {
	    	$("#filtrage").hide();
	    } else {
	    	$("#filtrage").show();
	    }
	}

	$("#toutCocher").click(function() {
		if ($("#toutCocher").is(':checked')) {
			console.log("nope");
			$(".retour").prop('checked',true);
		} else {
			$(".retour").prop('checked',false);
		}
	})

	$("#cocherNonTraites").click(function() {
		if ($("#cocherNonTraites").is(':checked')) {
			console.log("nope");
			$(".aFaire").prop('checked',true);
		} else {
			$(".aFaire").prop('checked',false);
		}
	})

</script>
{% endblock %}
