{% block title %}Recherche de CD{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-sm-8">
		<form class="form-horizontal" method="post" >
		<fieldset>

		<!-- Form Name -->
		<legend>Recherche de CD</legend>

		<div class="row col-lg-12">
			<div class="col-md-6">
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-5 control-label" for="cd">Par Numéro</label>  
				  <div class="col-md-7">
				  <input id="cd" name="num" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.num}}"{% endif %} >
				    
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-5 control-label" for="titre">Par Titre</label>  
				  <div class="col-md-7">
				  <input id="titre" name="titre" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.titre}}"{% endif %} >
				    
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-5 control-label" for="artiste">Par Artiste</label>  
				  <div class="col-md-7">
				  <input id="artiste" name="artiste" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.artiste}}"{% endif %} >
				    
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-5 control-label" for="label">Par Label</label>  
				  <div class="col-md-7">
				  <input id="label" name="label" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.label}}"{% endif %} >
				    
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-5 control-label" for="annee">Par Annee</label>  
				  <div class="col-md-7">
				  <input id="annee" name="annee" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.annee}}"{% endif %} >
				    
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<!-- Select Basic -->
					<div class="form-group">
					  <label class="col-md-5 control-label" for="langue">Par Langue</label>
					  <div class="col-md-7">
					    <select id="langue" name="langue" class="form-control">
						    <option name=""></option>
						    {% for langue in langues %}
						    	<option name="langue" value="{{langue.getLangue}}" {% if post and post.langue == langue.getLangue %}selected{% endif %}>{{langue.getLibelle}}</option>
						    {% endfor %}
					    </select>
					  </div>
					</div>

					<!-- Select Basic -->
					<div class="form-group">
					  <label class="col-md-5 control-label" for="genre">Par Genre</label>
					  <div class="col-md-7">
					    <select id="genre" name="genre" class="form-control">
						    <option name=""></option>
					    	{% for genre in genres %}
						    	<option name="genre" value="{{genre.getGenre}}" {% if post and post.genre == genre.getGenre %}selected{% endif %}>{{genre.getLibelle}}</option>
						    {% endfor %}
					    </select>
					  </div>
					</div>

					<!-- Select Basic -->
					<div class="form-group">
					  <label class="col-md-5 control-label" for="rotation">Par Rotation</label>
					  <div class="col-md-7">
					    <select id="rotation" name="rotation" class="form-control">
						    <option name=""></option>
					    	{% for rotation in rotations %}
						    	<option name="rotation" value="{{rotation.getRotation}}" {% if post and post.rotation == rotation.getRotation %}selected{% endif %}>{{rotation.getLibelle}}</option>
						    {% endfor %}
					    </select>
					  </div>
					</div>

					<!-- Select Basic -->
					<div class="form-group">
					  <label class="col-md-5 control-label" for="support">Par Support</label>
					  <div class="col-md-7">
					    <select id="support" name="support" class="form-control">
						    <option name=""></option>
					    	{% for support in supports %}
						    	<option name="support" value="{{support.getSupport}}" {% if post and post.support == support.getSupport %}selected{% endif %}>{{support.getLibelle}}</option>
						    {% endfor %}
					    </select>
					  </div>
					</div>

					<!-- Select Basic -->
					<div class="form-group">
					  <label class="col-md-5 control-label" for="type">Par Type</label>
					  <div class="col-md-7">
					    <select id="type" name="type" class="form-control">
						    <option name=""></option>
					    	{% for type in types %}
						    	<option name="type" value="{{type.getType}}" {% if post and post.type == type.getType %}selected{% endif %}>{{type.getLibelle}}</option>
						    {% endfor %}
					    </select>
					  </div>
					</div>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
			<button name="search" type="submit" class="btn btn-block btn-info btn-lg">
				Chercher <span class="glyphicon glyphicon-eye-open"></span>
			</button>
		</fieldset>
		</form>

		{% if is_granted('ROLE_PROGRA') %}
			<a href="{{path('cdNonTraites')}}" class="btn btn-block btn-lg btn-warning">Voir les CD à traiter</a>
			<a href="{{path('createCd')}}" class="btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-plus"></span> Créer un CD</a>
		{% endif %}
	</div>
</div>

	

{% if recherche %}	
<div class="row">
	{% if recherche %}
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">CD trouvés</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th></th>
								<th>Annee</th>
								<th>Titre</th>
								<th>Action</th>
								<th>Artiste</th>
								<th>Label</th>
								<th>Langue</th>
								<th>Genre</th>
								<th>Type</th>
								<th>Support</th>
							</tr>
						</thead>
						{% for cd in recherche %}
							<tr onclick="window.location.href='{{path('showCd',{'id':cd.cd})}}';">
								<td>{{cd.getCd}}</td>
								<td>
									{% if cd.getDsaisie|date("U") > "-3 months"|date("U") %}<div class="label label-success">Nouveauté</div>{% endif %}
								</td>
								<td>{% if cd.getAnnee %}{{cd.getAnnee}}{% endif %}</td>
								<td>{{cd.getTitre}}</td>
								<td>
									<a href="{{ path('showCd',{'id':cd.getCd}) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
									{% if is_granted('ROLE_PROGRA') %}
										<a href="" onclick="confirmDelCd('{{cd.getLibelle}}',{{cd.getCd}})"><span title="Supprimer" class="glyphicon glyphicon-remove"></span></a>
									{% endif %}
								</td>
								<td><a href="{{ path('showArtiste',{'id':cd.getArtiste.getArtiste}) }}">{{cd.getArtiste.getLibelle}}</a></td>
								<td>{% if cd.getLabel %}<a href="{{ path('showLabel',{'id':cd.getLabel.getLabel}) }}">{{cd.getLabel.getLibelle}}</a>{% endif %}</td>
								<td>{% if cd.getLangue and cd.getLangue.getLangue != 0 %}{{cd.getLangue.getLibelle}}{% endif %}</td>
								<td>{% if cd.getGenre.getGenre %}{{cd.getGenre.getLibelle}}{% endif %}</td>
								<td>{% if cd.getType and cd.getType.getType != 0  %}{{cd.getType.getLibelle}}{% endif %}</td>
								<td>{% if cd.getSupport and cd.getSupport.getSupport != 0  %}{{cd.getSupport.getLibelle}}{% endif %}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	{% endif %}
</div>


{% endif %}

{% endblock %}

{% block javascripts %}
<script>
    $('#cd').focus();

	$(function() {
	  	function log( input, message ) {
	  		$("#"+input).text(message.libelle);
	    }
	 	var artisteCompleteParameters = {
	      source: "{{path('autocompleteArtiste',{'like':1})}}",
	      minLength: 2,
	      delay: 300,
	      select: function( event, ui ) {
	        $(this).text(ui.item.libelle);
	      },
	      create : function( event, ui ){$(".ui-helper-hidden-accessible").remove();}
	    };
	    $( "#artiste" ).autocomplete(artisteCompleteParameters);

	    $( "#label" ).autocomplete({
	      source: "{{path('autocompleteLabel',{'like':1})}}",
	      minLength: 2,
	      delay: 300,
	      select: function( event, ui ) {
	        log('label',ui.item);
	    	},
	      create : function( event, ui ){$(".ui-helper-hidden-accessible").remove();}
	    });

	    $( "#titre" ).autocomplete({
	      source: "{{path('autocompleteTitre',{'like':1})}}",
	      minLength: 2,
	      delay: 300,
	      select: function( event, ui ) {
	        	log('titre',ui.item);
	    	},
	      create : function( event, ui ){$(".ui-helper-hidden-accessible").remove();}
	    });
	});

</script>
{% endblock %}
