{% block title %}Fiche CD "{{cd.getTitre}}"{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
	<h1>
		{% if cd.img %}<img src="{{asset(cd.getImgWebPath)}}" style="max-height:2em;max-width:2em;">{% endif %}
		Fiche de disque 
		<small>
			{{cd.getTitre}} de {{cd.getArtiste.getLibelle}} (#{{cd.getCD}})
			{% if is_granted('ROLE_PROGRA') %}
	            <a href="{{ path('editCd',{'id':cd.getCd}) }}" class="label label-info">
					<span class="glyphicon glyphicon-edit"></span> Editer
				</a>
				<a onclick="confirmDelCd('{{cd.getLibelle}}',{{cd.getCd}})" class="label label-danger">
					<span class="glyphicon glyphicon-remove"></span> Supprimer
				</a>
			{% endif %}
		</small>
	</h1>
	
	<div class="label label-default">Fiche saisie le {{cd.getDsaisie|date("d M Y")}}</div>

	<span class="label label-{% if cd.retourLabel %}success{% else %}warning{% endif %}">{% if cd.retourLabel %}Retour effectué{% elseif not cd.rotation  %}Délivré à un Progra.{% else %}Retour en attente{% endif %}</span>

	{% if cd.getDsaisie|date("U") > "-3 months"|date("U") %}<div class="label label-success">Nouveauté</div>{% endif %}

	{% if cd.getAirplay %}<div class="label label-success">Présent dans un airplay</div>{% endif %}
	{% if cd.getEmprunts %}<div class="label label-success">CD libre</div>{% endif %}

	<hr>

	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Informations générales</h3>
				</div>
				<table class="table table-striped">
					<tr>
						<th>Artiste</th>
						<td><a href="{{ path('showArtiste',{'id':cd.getArtiste.getArtiste}) }}">{{cd.getArtiste.getLibelle}}</a></td>
					</tr>
					<tr>
						<th>Titre</th>
						<td> {{cd.getTitre}}</td>
					</tr>
					{% if cd.getLibelle %}
					{% endif %}
					{% if cd.getDsortie|date("Y") != -0001 %}
					<tr>
						<th>Date sortie</th>
						<td>{{cd.getDsortie|date("d/m/Y")}}</td>
					</tr>
					{% endif %}
					{% if cd.getAnnee %}
					<tr>
						<th>Année</th>
						<td> {{cd.getAnnee}}</td>
					</tr>
					{% endif %}
					{% if cd.getLabel and cd.getLabel.getLabel != 0 %} 
					<tr>
						<th>Label</th>
						<td><a href="{{ path('showLabel',{'id':cd.getLabel.getLabel}) }}">{{cd.getLabel.getLibelle}}</a></td>
					</tr>
					{% endif %}
					{% if cd.getMaison and cd.getMaison.getLabel != 0 %} 
					<tr>
						<th>Maison</th>
						<td><a href="{{ path('showLabel',{'id':cd.getMaison.getLabel}) }}">{{cd.getMaison.getLibelle}}</a></td>
					</tr>
					{% endif %}
					{% if cd.getDistrib and cd.getDistrib.getLabel != 0 %} 
					<tr>
						<th>Distributeur</th>
						<td><a href="{{ path('showLabel',{'id':cd.getDistrib.getLabel}) }}">{{cd.getDistrib.getLibelle}}</a></td>
					</tr>
					{% endif %}
					{% if cd.getReflabel %}
					<tr>
						<th>Référence du label</th>
						<td> {{cd.getReflabel}}</td>
					</tr>
					{% endif %}
					{% if cd.getDiscid %}
					<tr>
						<th>Référence du disque (Label)</th>
						<td> {{cd.getDiscid}}</td>
					</tr>
					{% endif %}
					<tr>
						<th>Présence dans la base</th>
						<td class="{%if not cd.getSuppr%}success{% else %}warning{% endif %}">{%if not cd.getSuppr%}Oui{% else %}Non{% endif %}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Informations techniques</h3>
				</div>
				<table class="table table-striped">
					{%if cd.getDvd%}
					<tr>
						<th>Présence de DVD</th>
					</tr>
					{% endif %}
					{%if cd.getEtiquette%}
					<tr>
						<th>Etiquetté</th>
					</tr>
					{% endif %}
					{%if cd.getPaulo%}
					<tr>
						<th>Enregistré dans Rivendel</th>
					</tr>
					{% endif %}
					{% if cd.getSupport and cd.getSupport.getSupport %}
					<tr>
						<th>Support</th>
						<td>{{cd.getSupport.getLibelle}}</td>
					</tr>
					{% endif %}
					{% if cd.getType and cd.getType.getType != 0 %}
					<tr>
						<th>Type</th>
						<td>{{cd.getType.getLibelle}}</td>
					</tr>
					{% endif %}
					{% if cd.getLangue and cd.getLangue.getLangue != 0 %}
					<tr>
						<th>Langue</th>
						<td>{{cd.getLangue.getLibelle}}</td>
					</tr>
					{% endif %}
				</table>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Genre et Styles</h3>
				</div>
				<table class="table table-striped">
					<tr>
						<th>Genre principal</th>
						<td>{{cd.getGenre.getLibelle}}</td>
					</tr>
					{% if cd.getStyles.toArray != null %}
					<tr>
						<th>Styles secondaires</th>
						<td>
							<ul class="list-group">
								{% for style in cd.getStyles.toArray %}
									<li class="list-group-item">{{style.getLibelle}}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
					{% endif %}
				</table>
			</div>
		</div>
	</div>
{% if is_granted('ROLE_PROGRA') %}
	<div class="row">
		<div id="tabs" class="col-md-12">
			<ul class="nav nav-justified  nav-pills">
				<li role="presentation" class="active"><a href="#progra">Programmateur</a></li>
				<li role="presentation"><a href="#comments">Commentaires</a></li>
				<li role="presentation"><a href="#divers">Divers</a></li>
				<li role="presentation"><a href="#retLabel">Retour label</a></li>
			</ul>
			<hr style="opacity:0">
			<div id="progra">
				<div class="col-md-8">
					<table class="table">
						<tr>
							{% if cd.getNbpiste %}
								<th>Nombre de pistes</th>
								<td>{{cd.getNbpiste}}</td>
							{% endif %}
							{%if cd.getVarious %}
								<th>Plusieurs artistes</th>
							{% endif %}
						</tr>
					</table>

					{% if cd.getPistes.toArray != null %}
					<h4>Pistes en détail</h4>
					<table class="table table-striped">
						<thead><tr><th>titre de la piste</th><th>Artiste</th><th  style="width:60px">Fr</th><th style="width:60px">Anim</th><th  style="width:60px">Riven.</th><th  style="width:60px">Star</th></tr></thead>
						{% for piste in cd.getPistes.toArray %}
							<tr>
								<td>{{piste.getTitre}}</td>
								<td>{% if piste.getArtiste %}{{piste.getArtiste.getLibelle}}{% else %}{{cd.getArtiste.getLibelle}}{% endif %}</td>
								<td {% if piste.getLangue %}class="success"{% endif %}  style="width:60px"></td>
								<td class="{% if piste.getAnim %}success{% endif %}"  style="width:60px"></td>
								<td class="{% if piste.getPaulo %}success{% endif %}"  style="width:60px"></td>
								<td class="{% if piste.getStar %}success{% endif %}"  style="width:60px"></td>
							</tr>
						{% endfor %}
					</table>
					{% endif %}
				</div>
				<div class="col-md-4">
					<table class="table table-striped">
						{% if cd.getUserprogra and cd.getUserprogra.getUser %}
							<tr>
								<th>Programmateur</th>
								<td>{% if cd.getUserprogra.getUser != 0 %} {{cd.getUserprogra.getLibelle}} {% endif %} </td>
							</tr>
						{% endif %}
						{% if cd.getRotation %}
							<tr>
								<th>Rotation</th>
								<td>{% if cd.getRotation.getRotation > 0 %} {{cd.getRotation.getLibelle}} {% endif %}</td>
							</tr>
						{% endif %}
						{% if cd.getNotemoy %}
							<tr>
								<th>Note moyenne</th>
								<td class="{% if cd.getNotemoy|round(1, 'ceil') >= 3.5 %}sucess{% elseif cd.getNotemoy|round(1, 'ceil') > 2 %}warning{% else %}danger{% endif %}"> {{cd.getNotemoy|round(1, 'ceil')}}</td>
							</tr>
						{% endif %}
						{% if cd.getComment %}
							<tr>
								<th colspan="2">Commentaire</th>
							</tr>
							<tr><td colspan="2">{% if cd.getComment %}{{cd.getComment}}{% endif %}</td></tr>
						{% endif %}
					</table>
					<h3>Toutes les notes :</h3>
					{% if cd.getNotes.toArray != null %}
					<table class="table table-striped">
						<thead><tr><th>Utilisateur</th><th>Note</th></tr></thead>
						{% for note in cd.getNotes.toArray %}
							<tr>
								<td>{{note.getUser.getLibelle}}</td>
								<td>{{note.getNote|round(1, 'ceil')}}</td>
							</tr>
						{% endfor %}
					</table>
					{% else %}
						<span class="label label-info">Aucune notation pour le moment</span>
					{% endif %}
					<form method="post" action="{{path('noteCd',{'id':cd.getCd})}}">
						<input type="text" name="note" placeholder="Choisir une note entre 0 et 5">
						<button type="submit">Noter</button>
					</form>
				</div>
			</div>
			<div id="comments">
				<div class="row">
					<div class="col-md-4">
						<textarea style="width:100%;resize:none;" rows="5" id="textbox_comment"></textarea>
						<button id="button_comment" class="btn btn-info btn-block" value="{{cd.getCd}}">Commenter</button>
					</div>
					<div class="col-md-8">
						<div class="table-responsive"  style="display: block;height:400px;overflow-y:auto;width:100%;">
						<table class="table table-striped">
							<tbody id="comment_table" style="width:100%;">
							{% if cd.getComments.toArray %}
								{% for commentaire in cd.getComments.toArray %}
									<tr  style="width:100%;" id="comment_{{commentaire.getDbkey}}" class="comment">
										<td><strong>{{commentaire.getUser.getLibelle}}</strong> - {{commentaire.getChrono|date("d/m/Y - H:i")}}<br>{{commentaire.getComment}}</td>
									</tr>		
								{% endfor %}
							{% endif %}
							</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>
			<div id="divers">
					
				<h4>Historique des emprunts</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>N° d'exemplaire</th>
							<th>Utilisateur</th>
							<th>Date</th>
							<th>Perte</th>
						</tr>
					</thead>
					{% for emprunt in cd.getEmprunts.toArray %}
						<tr>
							<td>{{emprunt.getNumex}}</td>
							<td>{% if emprunt.getUser.getUser !=0 %}{{emprunt.getUser.getLibelle}}{% endif %}</td>
							<td>{% if emprunt.getChrono|date("Y") != -0001 %}{{emprunt.getChrono|date("d/m/Y")}}{%endif%}</td>
							<td>{{emprunt.getDisparu}}</td>
						</tr>
					{% endfor %}
				</table>

				<h4>Airplays</h4>
				{% if cd.airplays %}
				{% for airplay_cd in cd.airplays %}
					<a href="{{path('showAirplay',{'id':airplay_cd.airplay.airplay})}}" target="_blank" class="label label-success">{{airplay_cd.airplay.libelle}}</a>
				{% endfor %}
				{% endif %}

			</div>
			<div id="retLabel">
					
					<h4>Retour Label : <span class="label label-{%if cd.getRetourlabel%}success{% else %}warning{% endif %}">{%if cd.getRetourlabel%}Effectué{% else %}En attente{% endif %}</span></h4>
					{% if cd.getRetourmail %}<h5>Mail de retour</h5><span>{{cd.getRetourmail}}</span>{% endif %}
					
					<form class="form-horizontal col-md-6" method="post" action="{{path('editRetourLabel',{'id':cd.getCd})}}">
						<div class="form-group">
							<textarea name="retour_comment" rows="8" style="width:100%; resize:vertical;">{{cd.getRetourComment}}</textarea>
						</div>
						<div class="form-group">
							<button class="btn btn-info btn-block" type="submit">Enregistrer</button>
						</div>
					</form>

				</div>
		</div>
	</div>
{% endif %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">

		$(function() {
			$("#tabs").tabs();
		});

		$('#tabs ul a').click(function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		})

		$("#button_comment").click(function() {
			var comment = $("#textbox_comment").val();
			if (comment.trim() != "") {
				var route = "{{ path('commentCd', {'id': 'cd_id'}) }}";

				var res = $.post( route.replace("cd_id", this.value), {
					message: comment
				});

				$("#textbox_comment").val("");
			};
			$("#textbox_comment").focus();
		});

		if((".comment:first").length == 0) {
			var last_comment = $(".comment:first").attr('id').replace('comment_', '');
		} else {	
			var last_comment = 1;
		}

		function refreshComments(){
			var cd = "{{cd.getCd}}"
			if($(".comment").length != 0 && last_comment <= $(".comment:first").attr('id').replace('comment_', '')) {
				last_comment = $(".comment:first").attr('id').replace('comment_', '');
			}
			console.log(last_comment);
			var route = "{{ path('recupComments', {'cd': 'cd_id', 'comment':'comment_id'}) }}";
			$.get( route.replace("cd_id", cd).replace("comment_id",last_comment) ).done(function( data ) {

				    var comment_row = '<tr id="comment_:id_comment " class="comment"><td><strong>:user</strong> - :chrono <br>:commentaire</td></tr>';
				    for (var i = 0; i < data.length; i++) {
				    	var new_comment_row = comment_row.replace(':id_comment',data[i]['dbkey']).replace(':chrono',data[i]['chrono']).replace(':user',data[i]['user']).replace(':commentaire',data[i]['comment']);

				    	if($(".comment").length != 0) {
				    		if($("#comment_"+data[i]['dbkey']).length <= 0) {
				    			$(".comment:first").parent().prepend(new_comment_row);
				    		}
				    	} else {
				    		$("#comment_table").prepend(new_comment_row);
				    	}
				    };
					setTimeout(refreshComments,5000); /* rappel après 5 secondes = 5000 millisecondes */
				  });
		}
		 
		refreshComments();


	</script>
{% endblock %}