<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />

        <script src="{{asset('jquery/js/jquery-1.11.2.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('jquery/js/jquery-ui.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/deleteConfirms.js')}}" type="text/javascript"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="border-radius:0px">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Disco v2.0</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Recherche</a></li>
                <li><a href="/cd">Disques</a></li>
                <li><a href="/artiste">Artistes</a></li>
                <li><a href="/label">Labels</a></li>
            </ul>
            <p class="navbar-text navbar-right">Connecté en tant que <a href="#" class="navbar-link">Petit Bonhomme</a></p>
        </nav>
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
