{% extends 'base.html.twig' %}

{% block body %}
	<form class="form-horizontal" method="post" >
	<fieldset>

	<!-- Form Name -->
	<legend>Recherche de CD</legend>

	<div class="row col-lg-12">
		<div class="col-xs-6">
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="cd">Par Numéro</label>  
			  <div class="col-md-4">
			  <input id="cd" name="cd" placeholder="" class="form-control input-md" type="text">
			    
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="artiste">Par Artiste</label>  
			  <div class="col-md-4">
			  <input id="artiste" name="artiste" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.artiste}}"{% endif %} >
			    
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="titre">Par Titre</label>  
			  <div class="col-md-4">
			  <input id="titre" name="titre" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.titre}}"{% endif %} >
			    
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="label">Par Label</label>  
			  <div class="col-md-4">
			  <input id="label" name="label" placeholder="" class="form-control input-md" type="text" {% if post %}value="{{post.label}}"{% endif %} >
			    
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="annee">Par Annee</label>  
			  <div class="col-md-4">
			  <input id="annee" name="annee" placeholder="" class="form-control input-md" type="text">
			    
			  </div>
			</div>
		</div>
		<div class="col-xs-6">
			<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="langue">Par Langue</label>
				  <div class="col-md-4">
				    <select id="langue" name="langue" class="form-control">
					    <option name=""></option>
					    {% for langue in langues %}
					    	<option name="{{langue.getLangue}}">{{langue.getLibelle}}</option>
					    {% endfor %}
				    </select>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="genre">Par Genre</label>
				  <div class="col-md-4">
				    <select id="genre" name="genre" class="form-control">
					    <option name=""></option>
				    	{% for genre in genres %}
					    	<option name="{{genre.getGenre}}">{{genre.getLibelle}}</option>
					    {% endfor %}
				    </select>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="rotation">Par Rotation</label>
				  <div class="col-md-4">
				    <select id="rotation" name="rotation" class="form-control">
					    <option name=""></option>
				    	{% for rotation in rotations %}
					    	<option name="{{rotation.getRotation}}">{{rotation.getLibelle}}</option>
					    {% endfor %}
				    </select>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="support">Par Support</label>
				  <div class="col-md-4">
				    <select id="support" name="support" class="form-control">
					    <option name=""></option>
				    	{% for support in supports %}
					    	<option name="{{support.getSupport}}">{{support.getLibelle}}</option>
					    {% endfor %}
				    </select>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="type">Par Type</label>
				  <div class="col-md-4">
				    <select id="type" name="type" class="form-control">
					    <option name=""></option>
				    	{% for type in types %}
					    	<option name="{{type.getType}}">{{type.getLibelle}}</option>
					    {% endfor %}
				    </select>
				  </div>
				</div>
		</div>
	</div>

	<button name="search" type="submit" class="btn btn-block btn-info">Chercher <span class="glyphicon glyphicon-eye-open"></span></button>
	</fieldset>
	</form>

{% if test %}
<div class="row">
	{% if test.cd %}
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">CD trouvés</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th></th>
								<th>Annee</th>
								<th>Titre</th>
								<th>Action</th>
								<th>Artiste</th>
								<th>Label</th>
								<th>Langue</th>
								<th>Genre</th>
								<th>Type</th>
								<th>Support</th>
							</tr>
						</thead>
						{% for cd in test.cd %}
							<tr>
								<td>{{cd.getCd}}</td>
								<td>
									{% if cd.getDsaisie|date("U") > "-3 months"|date("U") %}<div class="label label-success">Nouveauté</div>{% endif %}
								</td>
								<td>{% if cd.getAnnee %}{{cd.getAnnee}}{% endif %}</td>
								<td>{{cd.getTitre}}</td>
								<td><a href="{{ path('showCd',{'id':cd.getCd}) }}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
								<td>{{cd.getArtiste.getLibelle}}</td>
								<td>{% if cd.getLabel.getLabel %}{{cd.getLabel.getLibelle}}{% endif %}</td>
								<td>{% if cd.getLangue.getLangue %}{{cd.getLangue.getLibelle}}{% endif %}</td>
								<td>{% if cd.getGenre.getGenre %}{{cd.getGenre.getLibelle}}{% endif %}</td>
								<td>{% if cd.getType.getType %}{{cd.getType.getLibelle}}{% endif %}</td>
								<td>{% if cd.getSupport.getSupport %}{{cd.getSupport.getLibelle}}{% endif %}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	{% endif %}
</div>
<div class="row">
	{% if test.artiste %}
	<div class="col-md-7">
		<div class="panel panel-info">
			<div class="panel-heading">Artistes trouvés</div>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom</th>
							<th>Action</th>
							<th>Disques</th>
							<th>Web</th>
							<th>MySpace</th>
						</tr>
					</thead>
					{% for artiste in test.artiste %}
						<tr>
							<td>{{artiste.getArtiste}}</td>
							<td>{{artiste.getLibelle}}</td>
							<td><a href="{{ path('showArtiste',{'id':artiste.getArtiste}) }}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
							<td>{{ artiste.getDisques|length }}</td>
							<td>{% if artiste.getSiteweb %}<a href="{{artiste.getSiteweb}}" target="_blank">Visiter</a>{% endif %}</td>
							<td>{% if artiste.getMyspace %}<a href="{{artiste.getMyspace}}" target="_blank">Visiter</a>{% endif %}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	{% endif %}

	{% if test.label %}
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">Labels trouvés</div>
					<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Nom</th>
								<th>Action</th>
								<th>@Mail</th>
							</tr>
						</thead>
						{% for label in test.label %}
							<tr>
								<td>{{label.getLabel}}</td>
								<td>{{label.getLibelle}}</td>
								<td><a href="{{ path('showLabel',{'id':label.getLabel}) }}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
								<td>{{label.getEmail}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	{% endif %}

</div>
{% endif %}

{% endblock %}
