{% extends 'base.html.twig' %}

{% block body %}
	<h1>Fiche Label <small>{{label.getLibelle}} (#{{label.getLabel}})</small></h1>

	<table class="table table-striped">
		<thead>
			<th>Site Web</th>
			<th>Contact</th>
			<th>Mail Retour</th>
		</thead>
		<tr>
			<td>{% if label.getSiteweb %}<a href="{{label.getSiteweb}}" target="_blank">{{label.getSiteweb}}</a>{% else %}Non renseigné{% endif %}</td>
			<td>{{label.contact1}}</td>
			<td>{{label.getMailprogra}}</td>
		</tr>
	</table>

	{% if label.getDisques.toArray %}
		<div class="panel panel-primary">
			<div class="panel-heading">Disques :</div>
			<table class="table table-striped">
				<theading>
					<tr>
						<th>#</th>
						<th></th>
						<th>Titre</th>
						<th>Artiste</th>
						<th>Date</th>
					</tr>
				</theading>
				{% for cd in label.getDisques.toArray %}
					<tr>
						<td>{{cd.getCd}}</td>
						<td>
							{% if cd.getDsaisie|date("U") > "-3 months"|date("U") %}<div class="label label-success">Nouveauté</div>{% endif %}
						</td>
						<td><a href="{{ path('showCd',{'id':cd.getCd}) }}">{{cd.getTitre}}</a></td>
						<td>{% if cd.getArtiste.getArtiste %}<a href="{{ path('showArtiste',{'id':cd.getArtiste.getArtiste}) }}">{{cd.getArtiste.getLibelle}}</a>{% endif %}</td>
						<td>{{cd.getAnnee}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% endif %}

{% endblock %}