{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block javascripts %}
<script>
    $('#searchInput').focus();
</script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <form method="get" class="form-inline">
            <div class="form-group">
                <div class="col-md-4">
                    <input type="text" size="80" name="q" value="{{q}}" class="form-control input-md" id="searchInput">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </form>

        {% if results %}
        <hr>

        <div class="panel panel-info">
            <div class="panel-heading">Résultat de la recherche</div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Titre</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for result in results %}
                        <tr>
                            {% if class(result)=='Cd' %}
                                <td>CD</td>
                                <td>
                                    <a href="{{ path('showCd',{'id':result.getCd}) }}">
                                        {{result.getTitre}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('showCd',{'id':result.getCd}) }}"><span title="Voir" class="glyphicon glyphicon-eye-open"></span></a>
                                </td>
                            {% elseif class(result)=='Artiste' %}
                                <td>Artiste</td>
                                <td>
                                    <a href="{{ path('showArtiste',{'id':result.getArtiste}) }}">
                                        {{result.getLibelle}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('showArtiste',{'id':result.getArtiste}) }}"><span title="Voir" class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="{{ path('editArtiste',{'id':result.getArtiste}) }}"><span title="Editer" class="glyphicon glyphicon-edit"></span></a>
                                    <a href="#" onclick="confirmDelArtiste('{{result.getLibelle}}',{{result.getArtiste}})"><span title="Supprimer" class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            {% elseif class(result)=='Label' %}
                                <td>Label</td>
                                <td>
                                    <a href="{{ path('showLabel',{'id':result.getLabel}) }}">
                                        {{result.getLibelle}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('showLabel',{'id':result.getLabel}) }}"><span title="Voir" class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="{{ path('editLabel',{'id':result.getLabel}) }}"><span title="Editer" class="glyphicon glyphicon-edit"></span></a>
                                    <a href="#" onclick="confirmDelLabel('{{result.getLibelle}}',{{result.getLabel}})"><span title="Supprimer" class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            {% endif %}
                        </tr>

                    {%  endfor %}
                </table>
            </div>
        </div>

        {% endif %}
    </div>
</div>

{% endblock %}
