{% block title %}Administration{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
		<h1>Liste des utilisateurs <a href="{{path('createUser')}}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Créer un Utilisateur</a></h1> 
		{% if app.user.getPassword|first != '$' %}
			<a href="{{path('encryptPwd')}}">Encrypt Password</a>(à ne faire qu'une seule fois, a près avoir passé de plaintext au bon mode d'encrypt : <br>encoders:<br>
		        AppBundle\Entity\User:<br>
		            algorithm: bcrypt<br>
		            cost: 12
		{% endif %}
		{% if users %}
			<div class="col-md-6 table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Utilisateur</th>
							<th>Action</th>
							<th>Rôle</th>
						</tr>
					</thead>
					{% for user in users %}
						<tr>
							<td>{{user.getUser}}</td>
							<td>{{user.getLibelle}}</td>
							<td>
								<a href="{{path('showUser',{'id':user.getUser})}}"><span title="Regarder" class="glyphicon glyphicon-eye-open"></span></a>
								<a href="{{path('editUser',{'id':user.getUser})}}"><span title="Editer" class="glyphicon glyphicon-edit"></span></a>
								<a href="#" onclick="confirmDelUser('{{user.getLibelle}}',{{user.getUser}})"><span title="Supprimer" class="glyphicon glyphicon-remove"></span></a>
							</td>
							<td>
								{{user.getRoles[0]}}
							</td>
						</tr>	
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}