{% block title %}Artiste "{{artiste.getLibelle}}"{% endblock %}
{% extends 'base.html.twig' %}
{% block body %}

	<h1>
        Fiche Artiste
        <small>
            {{artiste.getLibelle}}
            {% if is_granted('ROLE_PROGRA') %}
	            <a href="{{ path('editArtiste',{'id':artiste.getArtiste}) }}" class="label label-info">
					<span class="glyphicon glyphicon-edit"></span> Editer
				</a>
				<a onclick="confirmDelArtiste('{{artiste.getLibelle}}',{{artiste.getArtiste}})" class="label label-danger">
					<span class="glyphicon glyphicon-remove"></span> Supprimer
				</a>
			{% endif %}
        </small>
    </h1>

	<table class="table table-striped">
		<tr>
			<th>Site Web</th><td>{% if artiste.getSiteweb %}<a href="{{artiste.getSiteweb}}" target="_blank">Visiter</a>{% else %}Non renseigné{% endif %}</td>
			<th>MySpace</th><td>{% if artiste.getMyspace %}<a href="{{artiste.getMyspace}}" target="_blank">Visiter</a>{% else %}Non renseigné{% endif %}</td>
		</tr>
	</table>

	{% if artiste.getDisques.toArray %}
		<div class="panel panel-primary">
			<div class="panel-heading">Disques :</div>
			<table class="table table-striped">
				<theading>
					<tr>
						<th>#</th>
						<th></th>
						<th>Titre</th>
						<th>Label</th>
						<th>Date</th>
					</tr>
				</theading>
				{% for cd in artiste.getDisques.toArray %}
					<tr>
						<td>{{cd.getCd}}</td>
						<td>
							{% if cd.getDsaisie|date("U") > "-3 months"|date("U") %}<div class="label label-success">Nouveauté</div>{% endif %}
						</td>
						<td><a href="{{ path('showCd',{'id':cd.getCd}) }}">{{cd.getTitre}}</a></td>
						<td>{% if cd.getLabel and cd.getLabel.getLabel %}<a href="{{ path('showLabel',{'id':cd.getLabel.getLabel}) }}">{{cd.getLabel.getLibelle}}</a>{% endif %}</td>
						<td>{{cd.getAnnee}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% endif %}

{% endblock %}
