{% block title %}Artiste "{{artiste.getLibelle}}"{% endblock %}
{% extends 'base.html.twig' %}
{% block body %}

	<h1>
        Fiche Artiste
        <small>
            {{artiste.getLibelle}}
            {% if is_granted('ROLE_PROGRA') %}
	            <a href="{{ path('editArtiste',{'id':artiste.getArtiste}) }}" class="label label-info">
					<span class="glyphicon glyphicon-edit"></span> Editer
				</a>
				<a onclick="confirmDelArtiste('{{artiste.getLibelle}}',{{artiste.getArtiste}})" class="label label-danger">
					<span class="glyphicon glyphicon-remove"></span> Supprimer
				</a>
			{% endif %}
        </small>
    </h1>

	<table class="table table-striped">
		<tr>
			<th>Site Web</th><td>{% if artiste.getSiteweb %}<a href="{{artiste.getSiteweb}}" target="_blank">Visiter</a>{% else %}Non renseigné{% endif %}</td>
			<th>MySpace</th><td>{% if artiste.getMyspace %}<a href="{{artiste.getMyspace}}" target="_blank">Visiter</a>{% else %}Non renseigné{% endif %}</td>
		</tr>
	</table>

	{% if artiste.getDisques.toArray %}
		{% include 'artiste/discs_listing.html.twig' %}
	{% endif %}

{% endblock %}
